@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    margin: 0 12%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 1px 10px 30px 8px rgba(0, 0, 0, 0.23);
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 19px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 500;
}

h2 {
    margin-top: 0px;
    font-size: 1.6em;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 1.2em;
    line-height: 30px;
    font-weight: 500;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.button {
    display: inline-block;
    margin-right: 14px;
    padding: 13px 23px;
    border-radius: 3px;
    background-color: #000;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
    -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #489fd9;
}

.button.hollow {
    background-color: transparent;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
    color: #000;
    text-shadow: none;
}

.button.hollow:hover {
    background-color: #489fd9;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
    color: #fff;
    text-shadow: none;
}

div.section.purple h1 {
    text-align: center;
}

.w-row {
    width: 100%;
    padding: 1px;
}

.active{
    box-shadow: inset 0 3px 0 0 #FAFAFA !important;
    color: #FAFAFA !important;
}

.w-col {
    width: 30%;
    background-color: #dde7ed;
}

.button.in-pricing {
    display: block;
    margin-top: 19px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-addition{
    margin-left: 11% !important;
}

.w-container {
    width: 100%;
}

.top-container {
    background-color: #1bb5d0;
    padding-bottom: 1px;
    ;
}

.logo-text {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
    font-size: 2.3vw;
    font-weight: 500;
    margin-left: 4%;
    margin: 2% 0 2% 4%;
}

.logo-info {
    color: white;
    margin-right: 5%;
    text-align: center;
    margin-left: 78%;
    margin-top: -17%;
    margin-bottom: 5%;
    width: 15%;
}

.logo-info-main {
    color: white;
    margin-right: 5%;
    text-align: center;
    margin-left: 78%;
    margin-top: -12%;
    margin-bottom: 5%;
    width: 25%;
}

#slides {
    position: relative;
    height: 450px;
    ;
    list-style-type: none;
    width: 82%;
    margin: 0 10%;
    padding: 0px;
}

.company-menu{
    width: 100%;
    text-align: center;
    padding: 2% 0;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#img-slide{
    width: 68vmax !important;
    max-height: 40vw !important;
}

.content{
    background-image:  url("../images/Slides/APK/object3.jpg");
}

.controlers {
    z-index: 10;
    width: 70px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-color: #20879B;
    margin: 10px 0px 0px 10px;
    padding: 2px 0px;
    border: none;
}

.controlers:hover,
.controlers:focus {
    outline: none;
    border: none;
}

.container {
    max-width: 100%;
    display: table;
    width: inherit;
    padding: 2% 0;
    margin: 0 5%;
}

.some {
    color: #fff;
    margin-top: -50px;
    z-index: 50;
    position: relative;
    font-size: 20px;
}

#date {
    font-size: 1em;
    float: right;
    margin: 0;
    padding-left: 7px;
}

.wrapper {
    position: relative;
    height: 360px;
    padding: 3%;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: inherit;
    opacity: 0;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    position: absolute;
    width: 100%;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5,
#slide6:checked~.slider>.slide6,
#slide7:checked~.slider>.slide7,
#slide8:checked~.slider>.slide8,
#slide9:checked~.slider>.slide9 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.padding_slides {
    padding: 10%;
}

.company_links {
    color: black;
    text-decoration: none;
}

a.company_links h2 {
    text-align: center;
    padding: 13%;
    margin-top: 15%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

a.info-links h2 {
    text-align: center;
    margin: 22% 5% 20% 12%;
    padding: 8% 5%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

a.info-links {
    text-decoration: none;
}

.current--link-info {
    text-decoration: overline !important;
    color: rgba(255, 255, 255, 0.9);
}

.containerinfo {
    margin-left: 22%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.current--link {
    text-decoration: overline !important;
    color: rgba(255, 255, 255, 0.9);
}

ul.menu-to-company li {
    list-style-type: none;
}

.links-to-company {
    float: left;
    margin: 5% 2%;
    width: 20%;
    ;
}

.across-links {
    color: #1bb5d0;
}

.across-links:hover {
    background-color: #1bb5d0;
    color: #fff;
}

.links-to-info {
    min-height: 100%;
    width: 24%;
    float: left;
}

.slider {
    text-shadow: 0px 0px 10px black;
}

.wrapper>input {
    display: none;
}

.wrapper .controls {
    position: relative;
    display: table;
    margin: 0 auto;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4),
#slide5:checked~.controls label:nth-of-type(5),
#slide6:checked~.controls label:nth-of-type(6),
#slide7:checked~.controls label:nth-of-type(7),
#slide8:checked~.controls label:nth-of-type(8),
#slide9:checked~.controls label:nth-of-type(9) {
    background: #ddd;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.logo-text.footer {
    margin-top: 0px;
    margin-bottom: 19px;
    color: #e6eaed;
}

.h-col {
    padding: 0 8%;
    right: -1%;
    position: relative;
}

.h-col--about {
    position: relative;
    padding: 0 8%;
}

.info_about {
    margin: 6% 4% 4% 4%;
}

.text_about {
    float: left;
    text-align: left;
    padding: 5% 0;
}

.map {
    margin-left: 48%;
    height: 400px;
}

.navigation {
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

div.company_info h1 {
    text-align: center;
    padding-top: 3%;
}

div.company_info h3 {
    text-align: justify;
    padding: 2% 5% 3% 5%;
}

div.company_info p {
    text-align: left;
    padding: 2% 5% 0 5%;
    font-size: 1.3em;
}

.company_info {
    padding-top: 4%;
    border: 1px black;
    background-color: #fff;
    /*border-radius: 10px;*/
}

ul.menu li {
    display: inline;
}

ul.menu {
    text-align: center;
}

.menu {
    width: 27.9vw;
    z-index: 5;
    background-color: white;
    padding: 40px 50px;
    margin: 0 auto -50px auto;
    box-shadow: 1px 1px 31px 0px rgba(0, 0, 0, 0.23);
    position: relative;
}

#previous {
    float: left;
    position: relative;
    display: block !important;
    margin-top: -25%;
}

#pause {
    position: relative;
    margin-left: 49%;
    height: 30px;
    ;
}

#next {
    float: right;
    margin-top: -24%;
    ;
}

#top1 {
    z-index: 2 !important;
    box-shadow: 2px 0 30px -1px #222;
}

#top2 {
    z-index: 3 !important;
    box-shadow: 3px 0px 30px -1px #222;
}

#top3 {
    z-index: 4 !important;
    box-shadow: 0 0 30px -1px #222;
}

#top6 {
    z-index: 5 !important;
    box-shadow: 0 0 9px 1px #222;
}

#top3--fake {
    width: 12%;
    border: none;
}

#top4 {
    z-index: 3 !important;
    box-shadow: -3px 0 30px -1px #222;
}

#top5 {
    z-index: 2 !important;
    box-shadow: -2px 0 30px -1px #222;
}

.main-image {
    width: 24%;
    position: relative;
    margin: 0 -3%;
    border: 8px solid floralwhite;
}

.main-image.aboutapk {
    width: 19%;
    margin: 0 -3%;
    border: 6px solid floralwhite;
}

.main-image.aboutgtp {
    width: 28%;
    margin: 0 -3%;
    border: 7px solid floralwhite;
    position: relative;
}

.img-logo {
    padding-left: 7%;
    width: 13%;
    margin-top: 1%;
}

.logo-container {
    padding-top: 2%;
    min-height: 189px;
}

.nav-link {
    padding-top: 7px;
    font-size: 1vw;
    margin: 5% 4%;
    color: black;
    text-decoration: none;
    box-shadow: inset 0 3px 0 0 transparent;
    -webkit-transition: box-shadow 500ms ease, color 300ms ease;
    transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
    box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.w--current {
    box-shadow: inset 0 3px 0 0 #4dbd90;
    color: #4dbd90;
}

.facts {
    background-color: #f1f1f1;
}

.section {
    background-color: #f1f1f1;
    padding: 3% 0;
    width: 100%;
}

.section.blue {
    background-color: #e3f3fc;
}

.section.workers {
    background-color: #20879B;
    color: white;
}

.section.workers.about {
    padding-bottom: 0%;
    z-index: 1;
}

.section.main {
    background-color: #B8600C;
    background-position: 0% 23%;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
    background-color: #f0f0f0;
}

.section.image {
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
}

.section.footer {
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #2b2c2e;
    color: #e4e8eb;
}

.copyright.info {
    text-align: right;
    padding: 0 5%;
}

.section.footer.copyright {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #191E1F;
    color: #939596;
    font-size: 1em;;
}

.section.clients {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 20%;
}

.section.press {
    padding-top: 29px;
    padding-bottom: 38px;
    background-color: #3e5c50;
}

.company {
    height: inherit;
    width: 100%;
}

.slide {
    padding-top: 64px;
    padding-bottom: 64px;
}

.slide._1 {
    background-color: #00ad6e;
}

.slide._2 {
    background-color: #00bdd6;
}

.slide._3 {
    background-color: #ccbe00;
}

.main-subtitle {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

.footer-slogan {
    margin-bottom: 11px;
    color: #939596;
}

.social-icon {
    margin-right: 11px;
    opacity: 0.41;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-icon:hover {
    opacity: 1;
}

.footer-title {
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.page-link {
    border-bottom: 1px solid transparent;
    -webkit-transition: color 300ms ease, border 300ms ease;
    transition: color 300ms ease, border 300ms ease;
    color: #489fd9;
    text-decoration: none;
}

.page-link:hover {
    border-bottom-color: #489fd9;
}

.page-link.in-footer {
    display: block;
    color: #939596;
}

.page-link.in-footer:hover {
    border-bottom-color: transparent;
    color: #d2d7d9;
}

.page-link.white {
    border-bottom-color: hsla(0, 0%, 100%, .49);
    color: #fff;
}

.page-link.white:hover {
    border-bottom-color: #fff;
}

.newsletter-field {
    width: 60%;
    height: 40px;
    float: left;
    border: 1px solid transparent;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #e8e8e8;
}

.newsletter-field:focus {
    border-width: 1px;
    border-color: #09f;
    box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
    width: 70%;
    height: 40px;
    margin: 0% 18%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #5f6166;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: #d5d8db;
    font-size: 1em;
}

.newsletter-button:hover {
    background-color: #489fd9;
    color: #fff;
}

.newsletter-form {
    width: 70%;
}

.brand-link {
    text-decoration: none;
}

.success-message {
    background-color: #5f6166;
}

.main-heading {
    margin-top: 0px;
    color: #fff;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 20px;
    line-height: 44px;
}

.title {
    font-size: 1.4em;
    padding: 1%;
}

.section-subtitle {
    margin-bottom: 68px;
    font-size: 19px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
}

.bold-text {
    font-weight: 400;
}

.plan-wrapper {
    float: left;
    padding: 1%;
    border-radius: 3px;
    width: 31%;
    background-color: #f1f1f1;
    color: #2b2b2b;
}

.price-point {
    margin-bottom: 8px;
    font-size: 14px;
}

.price-accent {
    color: #489fd9;
    font-size: 20px;
    letter-spacing: 0px;
}

.facts_image {
    padding: 7% 35%;
    width: 30%;
}

div.plan-wrapper h3 {
    text-align: center;
}

div.clients.section h2 {
    text-align: center;
    padding: 18% 0 1% 0;
}

.addl-feature {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
}

.addl-feature.inactive {
    color: #c7c5c5;
    text-decoration: line-through;
}

.divider {
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-top: 13px;
    margin-bottom: 12px;
    background-color: #dbdbdb;
}

.additional-contact {
    margin-top: 21px;
    text-align: center;
}

.feature {
    text-align: left;
}

.feature.centered {
    text-align: center;
}

.feature-row {
    margin-bottom: 14px;
}

.testimonial-slider {
    height: auto;
    background-color: transparent;
}

.testimony-slide {
    padding-top: 0px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    margin: 0 auto;
}

.testimony-text {
    margin: 0 auto;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
    line-height: 31px;
    font-weight: 300;
    display: block;
    position: relative;
    margin-top: 21px;
}

.slide-nav {
    display: none;
    font-size: 10px;
}

.person {
    width: 11%;
    border-radius: 100%;
    margin-top: 1%;
}

.name {
    font-weight: 500;
    font-size: 1.3em;
    padding: 1%;
    ;
    ;
}

.feature-icon {
    margin-bottom: 12px;
}

.main-feature-group {
    margin-top: 30px;
}

.center-contents {
    text-align: center;
}

.small-features-row {
    margin-top: 71px;
}

.client-logo {
    width: 13%;
    padding: 1% 10%;
}

.press-logo {
    width: 16%;
    margin-right: 2%;
    margin-left: 2%;
    opacity: 0.94;
}

.small-text {
    color: hsla(0, 0%, 100%, .31);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
    opacity: 0;
    -webkit-transform: translate(0px, 24px);
    -ms-transform: translate(0px, 24px);
    transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
    opacity: 0;
    -webkit-transform: translate(0px, 24px);
    -ms-transform: translate(0px, 24px);
    transform: translate(0px, 24px);
}

@media (max-width: 1850px) {
    .logo-text {
        font-weight: 500;
        margin-top: 1%;
    }
    .logo-info {
        color: white;
        margin-right: 5%;
        text-align: right;
        margin-left: 80%;
        
    }
    .logo-info-main{
        margin-left: 70%;
    }
    .img-logo {
        margin-top: 1%;
    }
    div.logo-info h3 {
        text-align: center;
    }
    .menu {
        width: 39vw;
    }
    .nav-link {
        font-size: 1.4vw;
    }
    .logo-info {
        width: 25%;
        margin-left: 70%;
        margin-top: -15%;
    }
    .section.workers.about {
        padding: 5% 0;
    }
    a.company_links h2 {
        font-size: 1.6vw;
        margin: 14% 0;
    }
    .main-image.aboutapk{
        width: 18%;
    }
    .main-image.aboutgtp{
        width: 27%;
    }
    .main-image{
        width: 23%;
    }
    .text_about{
        width: 37%;
        padding: 5% 0 0 0;
    }
    .map{
        margin-left: 40%;
        margin-top: 10%;
    }
    .email{
        margin-bottom: 8%;
    }
    .email h2{
        margin: 0;
    }
    .phone{
        margin-bottom: 7%;
    }
    .phone h2{
        margin: 0;
    }
}
@media (max-width: 991px) {
    h2 {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    body {
        margin: 0;
        box-shadow: none;
        width: 100%;
        ;
    }
    .button.in-pricing {
        font-size: 14px;
        line-height: 18px;
    }
    .nav-link {
        font-size: 3vw;
        margin: 5%;
    }
    .text_about {
        font-size: 5vw;
        padding-top: 3%;
    }
    .text_about div h2{
        font-size: 3.4vw;
        padding-bottom: 2%
    }
    .text_about div h3{
        font-size: 2.4vw;
        padding-bottom: 2%
    }
    .map {
        padding-left: 43%;
        margin: 0;
    }
    .nav-link:hover {
        box-shadow: inset 0 3px 0 0 transparent;
    }
    .nav-link.w--current {
        box-shadow: inset 0 1px 0 0 transparent;
    }
    .nav-link.menu {
        padding: 22px 17px;
        color: #000;
        font-size: 30px;
    }
    .nav-link.menu.w--open {
        background-color: #000;
        color: #fff;
    }
    .img-logo {
        width: 29%;
        float: left;
        padding-left: 6%;
        margin-top: 0%;
    }
    .client-logo {
        width: 15%;
        padding: 1% 8%;
    }
    .logo-container {
        padding: 7% 0;
    }
    .logo-info {
        margin: 0;
        padding-top: 5%;
        width: 94%;
    }
    div.logo-info h2{
        font-size: 4vw;
    }    
    div.logo-info h3 {
        font-size: 3vw;
        text-align: center;
        margin: 0;
    }
    .logo-text {
        font-size: 5.3em;
        margin-left: 35%;
        padding-top: 5%;
    }
    .section {
        padding: 6% 0;
    }
    div.company_info h3{
        font-size: 2vw;
    }
    .h-col {
        padding: 0;
        margin-left: 18%;
    }
    .main-heading{
        font-size: 3vw;
    }
    .h-col--about {
        position: relative;
        margin: 0 auto;
        padding-left: 14%;
    }
    #top3--fake {
        width: 0%;
        z-index: 5 !important;
    }
    .menu {
        padding: 5% 10%;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.23);
        width: 80vw;
    }
    .main-image.aboutapk{
        width: 33% !important;
    }
    .main-image.aboutgtp{
        width: 39% !important;
    }
    .main-image {
        margin: 0 -11% !important;
        width: 35% !important;
    }
    .wrapper .controls {
        margin-left: 32%;
        left: 0px;
    }
    .nav-menu {
        margin: 3% 0;
        width: 100%;
    }
    .main-feature-group {
        margin-top: 0px;
    }
    .company_info {
        box-shadow: none;
        margin: 15% 0 2% 0;
    }
    #img-slide{
        width: 94vw !important;
    }
    .container{
        margin: 0 3%;
        float: none;
    }
    .containerinfo{
        margin: 5%;
    }
    .coomercial input{
        display: block; 
        width: 50%;
        margin: 0% auto;
    }
    .coomercial{
        text-decoration: none;
    }
    .links-to-company{
        float: none;
        width: 100%;
        margin: 0;
        height: 150px;
    }
    .links-to-company a h2{
        float: left;
        width: 20%;
        margin: 0 10%;
        padding: 4%;
    }
    .links-to-info{
        float: none;
        width: 100%;
        margin: 0;
        height: 150px;
    }
    .links-to-info a h2{
        float: left;
        width: 20%;
        margin: 1% 10%;
        padding: 4%;
    }
}
@media (max-width: 990px){
    .logo-info-main{
        margin-top: 2%;
    }
    .img-logo{
        margin-top: -5%; 
    }
}
@media (max-width: 767px) {
    .logo-info-main {
        color: white;
        margin-right: 5%;
        text-align: center;
        margin-left: 34%;
        margin-top: 2%;
        margin-bottom: 5%;
        width: 70%;
    }

    h3 {
        margin-bottom: 8px;
    }
    .logo-text {
        margin-top: 15px;
    }
    .nav-link.menu {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .section {
        padding-top: 43px;
        padding-bottom: 43px;
        text-align: center;
    }
    .section.main {
        margin-top: 51px;
    }
    .nav-menu {
        padding-right: 12px;
        padding-left: 12px;
    }
    .footer-title {
        margin-top: 35px;
    }
    .newsletter-form {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .section-subtitle {
        margin-bottom: 44px;
    }
    .plan-wrapper {
        margin-right: 5%;
        margin-bottom: 34px;
        margin-left: 5%;
    }
    .divider {
        width: 100%;
    }
    .feature {
        margin-bottom: 32px;
        text-align: center;
    }
    .feature-icon {
        margin-bottom: 4px;
    }
    .main-feature-group {
        margin-top: 0px;
        margin-bottom: 34px;
    }
}
@media (max-width: 479px) {
    .client-logo {
        width: 33.33%;
    }
    .press-logo {
        width: 28%;
    }
}
